# requirements.txt
# --- Backend Core ---
fastapi
uvicorn[standard]
python-multipart
sqlalchemy
pymysql
cryptography
python-dotenv

# --- AI Services ---
faster-whisper
transformers
torch
sentencepiece
accelerate  # [New] LLM 가속
pydub       # [New] 오디오 포맷 변환 (WebM -> Wav)

# --- Frontend & Visualization ---
streamlit
requests
pandas
altair

# --- Monitoring ---
prometheus-fastapi-instrumentator
